@using SKHSS.Models
@using SKHSS.Helpers
@model Parent
@{Layout = null;}
<div id="@Model.PRT_RecordID" class="node p Parent hide @Model.PRT_RecordID">
    <input class="prid" type="hidden" value="@Model.PRT_RecordID" />
    <div class="leftm fl-start">
        @if(Model.Children.Count>0){
        <div class="imgbtn openbtn">
            <img data-func="open" data-page="1" src="/Content/icons/down.png" alt="open" />
            <div class="hide hide1 1">
                <img data-func="close" data-page="0" src="/Content/icons/up.png" alt="close" />
            </div>
        </div>
        }
        @if (Global.IsInRole(User.Identity.Name, Definitions.MeRole))
        {
            <div class="imgbtn ids">
                <img data-func="show" src="/Content/icons/cog.png" alt="open" />
            </div>
        }
    </div>
    <fieldset class="settings hide"><legend>Record ID</legend><span style="position:absolute;height:18px;overflow:hidden;">@Model.PRT_RecordID</span></fieldset>
    <div class="fields">
        <fieldset class="fsFatherName"><legend>Father Name</legend><input class="FatherName" type="text" value="@Model.PRT_FatherName" /></fieldset>
        <fieldset class="fsMotherName"><legend>Mother Name</legend><input class="MotherName" type="text" value="@Model.PRT_MotherName" /></fieldset>
        <fieldset class="fsLastName"><legend>Last Name</legend><input class="LastName" type="text" value="@Model.PRT_LastName" /></fieldset>
        <fieldset class="fsAddress"><legend>Address</legend><input class="Address" type="text" value="@Model.PRT_Address" /></fieldset>
        <fieldset class="fsCity"><legend>City</legend><input class="City" type="text" value="@Model.PRT_City" /></fieldset>
        <fieldset class="fsZipcode"><legend>Zipcode</legend><input class="Zipcode" type="text" value="@Model.PRT_Zipcode" /></fieldset>
    </div>
    <div class="rightm fl-end">
        @if (Global.IsInRole(User.Identity.Name, Definitions.MeRole)){
        <div class="imgbtn" data-group="@Model.PRT_RecordID">
            <img data-func="delete" data-delete-type="s" data-delete-message="Are you sure you want to delete this account?" src="/Content/icons/delete.png" />
        </div>}
    </div>
    @if(Model.Children.Count>0)
    {
        <div class="clear"></div>
        <div class="cont">
            @foreach (Child c in Model.Children)
            {
                @Html.Partial("Users/Child", c);
            }
        </div>
    }
</div>