@model SKHSS.Models.UserLogin
@{
    ViewBag.Title = "Reset Password";
    ViewBag.NoIndex = true;
}

<style>
    #small-page {height:0px;}
    form {max-width:1000px!important;}
    #email {margin:10px 0;width:200px;display:inline;}
    input[type="submit"] {margin-top:10px;}
</style>

<div id="small-page">
    <div id="small-page-inner">
        @if (ViewBag.Result != "s")
        {
            using (Html.BeginForm())
            {
                <h2>Reset Password</h2>
                <br />
                @Html.HiddenFor(m => m.USR_Email)
                @:New Password: <br />
                if(ViewBag.ErrorOne == null){
                    @Html.PasswordFor(m => m.USR_Username, new { @Value = "", @Class = "fncy-box" })
                }
                else{
                    @Html.PasswordFor(m => m.USR_Username, new { @Value = "", @Class = "fncy-box", disabled = "disabled" })
                }
                @:Confirm Password: <br />
                if(ViewBag.ErrorOne == null)
                {
                    @Html.PasswordFor(m => m.USR_Password, new { @Value = "", @Class = "fncy-box" })
                }
                else
                {
                    @Html.PasswordFor(m => m.USR_Password, new { @Value = "", @Class = "fncy-box", disabled = "disabled" })
                }
                <br />
                if (ViewBag.ErrorOne != null)
                {
                    <span id="error" class="error">@ViewBag.Error @ViewBag.ErrorOne</span><br />
                }
                if (ViewBag.ErrorOne == null)
                {
                    <input type="submit" class="fncybtn" value="Submit" />
                }
            }
        }
        else
        {
            @: Congratulations! Your password was reset! You can now <a href="/Home/Login">login</a> using the password you just entered. 
        }
    </div>
</div>